@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  --main:#E13939;
  --main-fade:rgba(255,91,91,1);
  --dark:#010A0F;
  --dark1:#06131C;
  --dark2:rgba(255,255,255,0.05);
  --dark3:#213848;
}
::-webkit-scrollbar {
  width: 5px; border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #888; border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #222222; 
}

.darkpopup .close {
  color: #fff;
}
body{background:var(--dark);}
.bg-main-fade{background:var(--main-fade);}
.bg-main{background:var(--main);}
.bg-dark{background:var(--dark);}
.bg-dark1{background:var(--dark1);}
.bg-dark2{background:var(--dark2);}
.bg-dark3{background:var(--dark3);}
.text-main{color:var(--main);}
.font-mona{font-family:'monasans','sans-serif';}
.font-mona-i{font-family:'monasans-italic','sans-serif';}
.input-field{border:1px solid var(--dark3);}
.input:not(select):focus{border:1px solid var(--dark2);box-shadow:none;outline:none;background:var(--dark2);}

@layer components{
  .btn{@apply px-6 py-2.5 cursor-pointer text-white bg-main font-medium rounded-[30px] text-sm text-center}
  .md{@apply text-[16px] px-7 py-3 text-center}
  .lg{@apply text-[18px] px-8 py-3.5 text-center}
  .heading{@apply text-white font-bold font-mona}
  .heading-md{@apply heading text-[35px] leading-[31px]}
  .heading-lg{@apply heading text-[42px] leading-[38px]}
  .heading-xl{@apply heading text-[52px] leading-[47px]}
  .normal-heading{@apply text-white text-[24px] font-bold}
  .para{@apply text-white text-[24px] font-bold}
  .input{@apply input-field justify-center input-field border items-start px-[25px] py-[21px] mt-2.5 w-full whitespace-nowrap text-white rounded-[20px] bg-dark1 max-w-full}
  .box{@apply rounded-[30px] bg-dark1 }
}
.disabled{opacity:0.5;pointer-events:none;cursor:none;}
.drunk{font-family:'drunk';}

.menuitem.active {
  background:var(--main) !important;
  color: #ffffff !important;
}

.thumbnailsize{ 
  aspect-ratio: 1200 / 767;
}
.progresscomplete { 
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.filter-blur {
  backdrop-filter: blur(4px);
}