/* Importing Custom Font */
@font-face{font-family:'monasans';src:url('./fonts/MonaSansExpanded-Bold.ttf') format('truetype');/* font-weight:normal;*/
 /* font-style:normal;*/
}
@font-face{font-family:'monasans-italic';src:url('./fonts/MonaSansExpanded-BoldItalic.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'productsans';src:url('./fonts/ProductSans-Regular.ttf') format('truetype');font-weight:normal;font-style:normal;}
body{margin:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
html,body{scroll-behavior:smooth;}
header nav{background:rgb(77 135 176 / 15%);-webkit-backdrop-filter:blur(7px);backdrop-filter:blur(7px);border-radius:40px;border:1px solid #36abff1c;}
.turbo-gradient{width:100%;max-width:100%;height:6px;border-radius:20px !important;background:rgb(0,0,0);background:linear-gradient(90deg,rgba(0,0,0,0.139) 13%,rgba(253,89,89,1) 100%);}
.d-none{display:none;}
.sidebar-wrapper{height:100%;max-height:100vh;overflow:auto;max-width:300px;width:100%;}
.main-wrap{height:100%;max-height:100vh;width:100%;overflow:auto;}
main.main-wrap{height:100vh;}
select.input{appearance:none;}
.sidebar-toggle span{display:block;width:100% !important;height:2px !important;background:#ccc;border-radius:15px;min-width:30px !important;}
button.sidebar-toggle{display:none;max-width:80px;}


.sidebar-wrapper::-webkit-scrollbar {
   width: 0px;
}


@media(max-width:1279px){div#mobile-menu-2{position:fixed !important;background:#121f27;max-width:400px;top:90px;right:0;z-index:999 !important;padding:20px;border-radius:17px;}
.mobile-menu{display:none !important;}
.toggle.mobile-menu{display:block !important;}
}
@media(max-width:1299px){.container{max-width:1120px;}
}
@media(max-width:1199px){.sidebar-wrapper{max-width:340px;}
.sidebar-wrapper{position:fixed;top:0;z-index:999;transition:0.5;background:#010a0e;display:none;left:-100%;}
.sidebar-wrapper.sidebar-open{display:block;transition:0.5;left:0;}
.sidebar-toggle{display:block !important;}
.logoutbtn{display:none !important;}
.infobtn{display:none !important;}
.auth-wrap header.sticky{background:rgb(77 135 176 / 15%);-webkit-backdrop-filter:blur(7px);backdrop-filter:blur(7px);border-radius:40px;border:1px solid #36abff1c;max-width:calc(100% - 40px);left:20px;margin-top:24px;}
}
@media(max-width:767px){.pricing,.brand{background:transparent;}
.t-overlay{display:none;}
}
